body {
    background-color: rgb(0, 71, 68);
}

table {
    border-collapse: collapse;
}
tr {
    background-color: rgb(168, 32, 32);
}
td {
    border: 2px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
}
.xo-field {
    display: flex;
    flex-wrap: wrap;
    width: 312px;
    height: 312px;
    background-color: rgb(80, 28, 116);
    margin: 50px auto 0;
}
.xo-field__square {
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    font-size: 48px;
}