body {
    margin: 0;
    background: black;
    overflow: hidden;
}

.moving-box {
    position: absolute;
    width: 24px;
    height: 24px;
    /* background-color: #008339; */
    background-color: #0c0;
    border-radius: 50%; 
}