body {
    margin: 0;
    background: black;
    overflow: hidden;
    font: 30px normal monospace;
}

.moving-box {
    position: absolute;
    background-color: rgba(0, 255, 0, 0.15);
    color: #00d300;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    /* transform: rotate(180deg); */
}

.firstLetter {
    color: #fff;
}

/* .moving-box:first-letter {
    color: red;
} */

/* .test {
    color: green;
    font-size: 30px;
    width: 27px;
    height: 30px;
} */
